* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: background-color .5s ease;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: transparent;
  background-color: transparent;
  transition: background-color .5s ease;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}