.banner__inner {
    padding: 155px 0 190px;
    background-image: url(../../assets/img/head_banner.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -10px;
}

.banner__title {
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 35px;
    margin-bottom: 35px;
    color: #fff;
}

.banner__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-align: center;
}

.banner__link a:hover {
    background-color: #102243;
}

@media screen and (min-width: 960px) {
    .banner__inner {
        margin: 0;
    }
}